.load-form {

  padding-left: 90px;
  max-height  : 600px;
  overflow    : auto;

  :global(.ant-form-explain) {
    height: 22px;
  }

  .time {
    height  : 60px;
    width   : 100%;
    float   : left;
    position: relative;

    span {
      color: black !important;
    }

    .xian {
      color       : #000 !important;
      margin-left : 10px;
      margin-right: 10px;
    }

    .add {
      padding-left : 10px;
      padding-right: 10px;
      color        : #f82b28;
    }

    :global(.ant-time-picker) {
      width: 219px !important;
    }
  }
}